<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="footer">
    <!-- footer -->
    <footer>
        <div class="lower">
            <p>
                <a href="#">Terms & Conditions</a>
                <span> | </span>
                <a href="#">Privacy Policy</a>
                <span> | </span>
                <a href="#">About us</a>
            </p>

        </div>

        <p style="margin: 0;">&copy; Copyright, Inc. All rights reserved.</p>
    </footer>


</th:block>

</html>