<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="common">

    <!-- Bootstrap css -->
    <link th:href="@{/lib/bootstrap-5/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Common css -->
    <link th:href="@{/css/common.css}" rel="stylesheet">

    <link th:href="@{/css/footer.css}" rel="stylesheet">

    <!-- jQuery -->
    <script th:src="@{/lib/jquery-3.6.0.js}"></script>

    <!-- Bootstrap js -->
    <script th:src="@{/lib/bootstrap-5/js/bootstrap.min.js}"></script>

    <!-- Sweet-alert -->
    <script th:src="@{/lib/sweetalert.min.js}"></script>

    <script th:src="@{/js/nav.js}"></script>
</th:block>