<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="common">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" <!-- Bootstrap css -->
    <link th:href="@{/lib/bootstrap-5/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="icon" href="/icons/humanitarian.png" sizes="180x180">


    <!-- Common css -->
    <link th:href="@{/css/common.css}" rel="stylesheet">

    <!-- Nav css -->
    <link th:href="@{/css/nav.css}" rel="stylesheet">

    <!-- Footer css -->
    <link th:href="@{/css/footer.css}" rel="stylesheet">

    <!-- jQuery -->
    <script th:src="@{/lib/jquery-3.6.0.js}"></script>

    <!-- Bootstrap js -->
    <script th:src="@{/lib/bootstrap-5/js/bootstrap.min.js}"></script>

    <!-- Sweet-alert -->
    <script th:src="@{/lib/sweetalert.min.js}"></script>

    <script th:src="@{/js/common.js}"></script>
    
    <script th:src="@{/js/nav.js}"></script>

</th:block>