<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="navbar">
    <!-- top navigation -->
    <nav>
        <div class="logo_container">
            <a href="/">
                <img src="/icons/icons8-give-60.png" alt="" width="40" height="40">
                <h2 class="text-white m-0" style="font-size: 125%;">Blood Bank Management System</h2>
            </a>
        </div>
        <ul>
            <li>
                <a href="/home">Home</a>
            </li>
            <li>
                <a href="/donation">Donate Blood</a>
            </li>
            <li>
                <a href="/procure">Procure Blood</a>
            </li>
        </ul>

        <div id="profile-btn" class="nav_username">
            <img src="/icons/donor.png" alt="" width="30" height="30">
            <a href="/profile">Profile</a>
        </div>

        <div>
            <a href="/user/form" id="register-btn" class="btn text-white btn-color mx-2">Register</a>
            <a href="/login" id="login-btn" class="btn text-white btn-color">Login</a>

            <a href="/logout" id="logout-btn" class="btn text-white btn-color">Logout</a>
        </div>
    </nav>
    <!-- /top navigation -->

</th:block>

</html>