<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="navbar">
    <!-- top navigation -->
    <nav>
        <ul>
            <li>
                <a href="/home">Home</a>
            </li>
            <li>
                <a href="/donation">Donate Blood</a>
            </li>
            <li>
                <a href="/procure">Procure Blood</a>
            </li>
            <li>
                <a href="/profile">Profile</a>
            </li>
        </ul>

        <div>
            <button class="btn btn-primary">Login</button>
        </div>
    </nav>
    <!-- /top navigation -->

</th:block>

</html>