<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donation Page</title>

    <th:block th:replace="fragments/lib :: common"></th:block>
</head>

<body>
    <th:block th:replace="fragments/nav :: navbar"></th:block>

    <main class="container"
        style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h3>Thank you for saving lives by Donating Blood</h3>
        <p class="text-danger">* You must not have donated blood in the last 120 days. *</p>

        <br>
        <form th:action="@{/donation/add}" method="post" th:object="${donation}" style="width: 400px;">
            <!--${variable from controller}      @{where i want to send after the form is submitted}-->

            <div class="form-group">
                <label for="date">Please enter your desired Date for blood donation:</label>
                <input th:field="*{date}" type="date" class="form-control" id="date"
                    placeholder="Date of Blood Requirement" required>
            </div>

            <br>

            <div class="form-group">
                <label for="donation-centre-selectbox">Please choose your desired Center for blood donation:</label>
                <select th:field="*{donationCenter}" class="form-control" id="donatio-centre-selectbox" required>
                    <option th:each="c : ${donation_centers.entrySet()}" th:value="${c.getKey()}"
                        th:text="${c.getValue()}">
                    </option>
                </select>
            </div>

            <br>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="Check">
                <label class="form-check-label" for="Check">Agree to the Terms &amp; Conditions</label>
            </div>
            <br>

            <button type="submit" class="btn nav-button">Submit</button>
        </form>
    </main>

    <th:block th:replace="fragments/footer :: footer"></th:block>

</body>

</html>