<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <th:block th:replace="fragments/lib :: common"></th:block>

</head>

<body>
    <div class="container success_container">
        <div class="card border-success mb-3" style="max-width: 40rem;">
            <!--<div class="card-header">Success</div-->
            <div class="card-body text-success text-center">
                <h1 class="card-title">Congratulations!</h1>
                <p class="card-text">Your Slot for Donation has been Booked.</p>
            </div>

            <div class="card" style="width: 30rem; border: none;">
                <img src="/icons/blood-donation-icon.png" alt="Success tick" style="width: 20%; margin:0 auto;">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 1.15rem; margin: 0;">Donation Slot details:</h5>
                </div>
                <ul class="list-group list-group-flush">
   
                    <li class="list-group-item">
                        <span>Name : </span>
                        <span></span>
                    </li>
                    <li class="list-group-item">
                        <span>Blood Group :</span>
                        <span></span>
                    </li>
                    <li class="list-group-item">
                        <span>City :</span>
                        <span></span>
                    </li>
                    <li class="list-group-item">
                        <span>Center :</span>
                        <span></span>
                    </li>
                    <li class="list-group-item">
                        <span>Date :</span>
                        <span></span>
                    </li>
                    <li class="list-group-item">
                        <span>Status :</span>
                        <span></span>
                    </li>
                </ul>
                <div class="card-body" style="display: flex; justify-content: center;">
                    <button class="btn nav-button mx-2">
                        <a href="#" class="card-link">Download link</a>
                    </button>
                    <button class="btn nav-button">
                        <a href="#" class="card-link">Back to Dashboard</a>
                    </button>
                </div>
            </div>
        </div>
</body>

</html>