* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --theme-red: #c62017;
  --theme-green: #45b570;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-family: "Roboto", sans-serif;
}

body main {
  flex-grow: 1;
}

.bg-normal {
  background-color: #96d4d4;
}

.bg-red {
  background-color: rgba(255, 0, 0, 0.5);
}

.bg-green {
  background-color: #30ae2ec2;
  color: white;
}

.bg-yellow {
  background-color: rgba(255, 255, 0, 0.5);
}

.text-gray {
  color: gray !important;
}

.success_container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button {
  padding: 0.5rem 2%;
  margin: 0 auto;
  display: block;
  background-color: var(--theme-red);
  color: #ffffff;
  font-weight: bolder;
  transition: all 0.3s;
}

.nav-button a {
  text-decoration: none !important;
  color: #ffffff;
}

.nav-button:hover {
  background-color: var(--theme-green);
  color: #ffffff;
  transform: scale(1.05);
}

.bold {
  font-weight: 600;
}

.home-button {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 2%;
  margin: 0 auto;
  display: block;
  background-color: var(--theme-red);
  text-decoration: none !important;
  color: #ffffff;
  font-weight: bolder;
  transition: all 0.7s;
}
.home-button a {
  text-decoration: none !important;
  color: #ffffff;
}
.home-button:hover {
  background-color: var(--theme-green);
  color: #ffffff;
  transform: scale(1.05);
}