* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.heading {
  text-align: center;
  margin-top: 1rem;
}

.form_container {
  flex-grow: 1;
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}

.form_container > form {
  width: min(50vh, 400px);
}

.form_container > form > div {
  margin: 1rem 0;
}

.blood_list_table_container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 3rem;

}

.blood_list_table {
  width: fit-content;
}

.blood_list_table th {
  padding: 0.2rem 1rem;
}

.blood_list_table td {
  padding: 0;
  padding: 0.2rem 1rem;
  font-weight: bold;
}

.blood_list_table,
.blood_list_table th,
.blood_list_table td {
  border: 1px solid black;
  border-collapse: separate;
  text-align: center;
}

.bg-normal {
  background-color: #96d4d4;
}

.bg-red {
  background-color: rgba(255, 10, 10, 0.6);
}

.bg-green {
  background-color: green;
  color: white;
}

.bg-yellow {
  background-color: yellow;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 300px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
 
}

.content-table thead tr {
  background-color: #a02636;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #610615;
}

.content-table tbody tr.active-row {
  color: #740b25;
  
  font-weight: bold;
}
.box{
  
  width:100%;
  background-color: rgb(236, 171, 176);
  margin: 0 auto;
  border: 3px solid rgb(100, 27, 27);
  border-radius: 18px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
  padding: 15px;
}
/* button{
  border: #29040a;
  background-color: #c9253b;
  margin: 0 auto;
  display: block;
  
} */
button:hover{
  background-color: #6b1927;
}
.carousel-item{
  max-height: 400px;

}
.carousel-item img{
  object-fit: contain;
  max-height: 400px;
}
.button-container{
  display: flex;
  justify-content: center;
}
