.item_anchor_container {
  text-decoration: none !important;
}

.card_position_relative {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 0.6rem 0;
}

.card_date {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1;
  color: #000 !important;
  font-weight: 600;
  font-size: small;
}

.list-group-item {
  margin: 0;
  padding: 0.2rem 0.5rem;
  border: none;
}

.text-gray {
  color: gray !important;
}

.achievements_list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.achievements_list li{
  cursor: pointer;
}

.achievements_list li:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.image_badge_container{
  padding: 0 1rem;
}