<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <h1>This is Home Page</h1>

    <ul th:each="item : ${blood_list}">
        <li>
            <span th:text="${item.getCity()}"></span>

            <ul th:each="b : ${item.getBlood_groups()}">
                <li>
                    <span th:text="${b.getBlood_group()}"></span>
                    <span> => </span>
                    <span th:text="${b.getQuantity()}"></span>
                </li>
            </ul>
        </li>
    </ul>

</body>

</html>