<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <th:block th:replace="fragments/lib :: common"></th:block>
</head>

<body>
    <th:block th:replace="fragments/nav :: navbar"></th:block>

    <main class="container">
        <h1>This is Home Page</h1>

        <div class="blood_list_table_container">
            <table class="blood_list_table">
                <thead>
                    <th>City &#8595; / BloodGroup &#8594;</th>
                    <th th:each="b : ${blood_groups}">
                        <span th:text="${b}"></span>
                    </th>
                </thead>

                <tbody>
                    <tr th:each="item : ${blood_list.entrySet()}">
                        <th th:text="${item.getKey()}"></th>

                        <th:block th:each="mapEntry : ${item.getValue().entrySet()}">
                            <th:block th:with="value=${mapEntry.getValue()}">
                                <td th:if="${value == 0}" class="bg-red" th:text="${value}"></td>
                                <th:block th:unless="${value == 0}">
                                    <td th:if="${value > 10}" class="bg-green" th:text="${value}"></td>
                                    <td th:unless="${value > 10}" class="bg-yellow" th:text="${value}"></td>
                                </th:block>
                            </th:block>
                        </th:block>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

</body>

</html>