<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <th:block th:replace="fragments/lib :: common"></th:block>

    <link th:href="@{/css/login.css}" rel="stylesheet">

    <script th:src="@{/js/login.js}" defer></script>
</head>

<body>

    <th:block th:replace="fragments/nav :: navbar"></th:block>

    <main class="container">
        <div class="login_form_container">
            <form th:action="@{/auth/login}" method="post" th:object="${user}">

                <h3 class="login_heading">Login to continue!</h3>

                <div>
                    <th:block th:if="${loginError != null}">
                        <p class="text-danger" th:text="${loginError}"></p>
                    </th:block>
                </div>

                <div id="successful-register-msg">
                    <p class="text-success bold text-center">
                        Your Registration is successful.
                    </p>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="loginEmail">Email</label>
                    <input th:field="*{email}" type="email" id="loginEmail" class="form-control" required />
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="loginPassword">Password</label>
                    <input th:field="*{password}" type="password" id="loginPassword" class="form-control" required />
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn d-block mx-auto mb-4 login_btn">Log in</button>
            </form>

            <div class="text-center">
                <p style="color: grey;">Not a member? <a href="/user/form">Register</a></p>
            </div>

        </div>
    </main>

</body>

</html>