<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <th:block th:replace="fragments/lib :: common"></th:block>
</head>

<body>

    <main class="container">
        <h1>This is Login Page</h1>

        <form th:action="@{/auth/login}" method="post" th:object="${user}">

            <div>
                <th:block th:if="${loginError != null}">
                    <p class="text-danger" th:text="${loginError}"></p>
                </th:block>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
                <input th:field="*{email}" type="email" id="loginEmail" class="form-control" required />
                <label class="form-label" for="loginEmail">Email</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input th:field="*{password}" type="password" id="loginPassword" class="form-control" required />
                <label class="form-label" for="loginPassword">Password</label>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Log in</button>
        </form>

        <div class="text-center">
            <p>Not a member? <a href="/user/form">Register</a></p>
        </div>
    </main>

</body>

</html>