<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Procurement!!</title>
    <th:block th:replace="fragments/lib :: common"></th:block>
</head>

<body>
    <th:block th:replace="fragments/nav :: navbar"></th:block>

    <h1> This is success page for blood procure....</h1>
    <div class="container success_container">
        <div class="card border-success mb-3" style="max-width: 40rem;">
            <!--<div class="card-header">Success</div-->
            <div class="card-body text-success text-center">
                <h1 class="card-title">Congratulations!</h1>
                <br>
                <p class="card-text" style="font-size: 1.2rem;"> Your Procure request has been Booked.</p>
            </div>
        </div>
    </div>

</body>

</html>